{% extends "base.html" %}

{% block content %}

<br>

{% if type == "All" %}
<a role="button" type="button" class="btn btn-outline-primary active" href="/update">All</a>
{% else %}
<a role="button" type="button" class="btn btn-outline-primary" href="/update">All</a>
{% endif %}

{% if type == "Unknown" %}
<a role="button" type="button" class="btn btn-outline-warning active" href="/update/unknown">Unknown</a>
{% else %}
<a role="button" type="button" class="btn btn-outline-warning" href="/update/unknown">Unknown</a>
{% endif %}

{%  if type == "System"%}
<a role="button" type="button" class="btn btn-outline-info active" href="/update/system">System</a>
{% else %}
<a role="button" type="button" class="btn btn-outline-info" href="/update/system">System</a>
{% endif %}

{%  if type == "Distracting"%}
<a role="button" type="button" class="btn btn-outline-danger active" href="/update/distracting">Distracting</a>
{% else %}
<a role="button" type="button" class="btn btn-outline-danger" href="/update/distracting">Distracting</a>
{% endif %}

{%  if type == "Neutral"%}
<a role="button" type="button" class="btn btn-outline-secondary active" href="/update/neutral">Neutral</a>
{% else %}
<a role="button" type="button" class="btn btn-outline-secondary" href="/update/neutral">Neutral</a>
{% endif %}

{%  if type == "Productive"%}
<a role="button"type="button" class="btn btn-outline-success active" href="/update/productive">Productive</a>
{% else %}
<a role="button"type="button" class="btn btn-outline-success" href="/update/productive">Productive</a>
{% endif %}

<br>
<br>
<table id="crudTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Program</th>
      <th class="th-sm">Rank</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <td>{{item[0]}}</td>
        <td>
          <form action="{{ url_for('crud') }}" method="POST" role="form" class="form-inline">
            <div class="form-group">
              <select class="form-control" id="classification" name={{item[0]}}>
                {% if item[1] == 0 %}
                  <option value="0" selected>Unknown</option>
                {% else %}
                  <option value="0">Unknown</option>
                {% endif %}
                {% if item[1] == 1 %}
                  <option value="1" selected>System</option>
                {% else %}
                  <option value="1">System</option>
                {% endif %}
                {% if item[1] == 2 %}
                  <option value="2" selected>Distracting</option>
                {% else %}
                  <option value="2">Distracting</option>
                {% endif %}
                {% if item[1] == 3 %}
                  <option value="3" selected>Neutral</option>
                {% else %}
                  <option value="3">Neutral</option>
                {% endif %}
                {% if item[1] == 4 %}
                  <option value="4" selected>Productive</option>
                {% else %}
                  <option value="4">Productive</option>
                {% endif %}
                  <option value="-1">Delete</option>
              </select>
              <!-- Google Icons
                <i class="material-icons text-success">update</i> 
                <i class="material-icons text-success">done</i>
                <i class="material-icons text-success">archive</i> 
                <i class="material-icons text-success">sync</i> 
                <i class="material-icons text-success">cloud_upload</i> 
                <i class="material-icons text-danger">delete</i> 
              -->
              <button type="submit" class="btn btn-default">
                <i class="material-icons text-success">sync</i> 
              </button>
            </div>
          </form>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock%}
