{% extends "base.html" %}

{% block content %}
<p>{{date}}
{% if time >= 0 %}
    at {{time}} o'clock
{% endif %}
</p>

{% if date %}
<div class="justify-content-center">
  <div class="row">
    {% for hour,active in activity %}
      {% if active == "HIGH" %}
      <div class="col bg-success">
      {% elif active == "AWAY" %}
      <div class="col bg-warning">
      {% elif active == "LOW" %}
      <div class="col bg-info">
      {% elif active == "DISTRACTED" %}
      <div class="col bg-danger">
      {% else %}
      <div class="col bg-dark text-white">
      {% endif %}
      {% if active %}
        <a href="/day/{{date}}/[[hour]]" ng-click="hour={{hour}}">{{hour}}</a>
      {% else %}
        <span>{{hour}}</span>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
<br>
{% if time >= 0 %}
  <div class="row">
    <div class="col">
      <div class="chart-container">
        <canvas id="hourDoughnut"></canvas>
      </div>
    </div>
    <div class="col">
      <div class="chart-container">
        <canvas id="productivityGauge"></canvas>
      </div>
    </div>
    <div class="col">
      <div class="chart-container">
        <canvas id="webProgPie"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-condensed table-hover table-responsive">
        <th>Program</th>
        <th>Freq (min)</th>
        {% for label,rank,freq,classes in hourlyData[2] %}
          {% if rank == 4 %}
          <tr class="table-success {{classes}}">
            <td>{{label}}</td>
            <td>{{freq}}</td>
          </tr>
          {% elif rank == 2 %}
          <tr class="table-danger {{classes}}">
            <td>{{label}}</td>
            <td>{{freq}}</td>
          </tr>
          {% else %}
          <tr class="neutral {{classes}}">
            <td>{{label}}</td>
            <td>{{freq}}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
    <div class="col">
      <table class="table table-condensed table-hover table-responsive">
        <th>Websites</th>
        <th>Freq (min)</th>
        {% for label,rank,freq,classes in hourlyData[3] %}
          {% if rank == 4 %}
          <tr class="table-success {{classes}}">
            <td>{{label}}</td>
            <td>{{freq}}</td>
          </tr>
          {% elif rank == 2 %}
          <tr class="table-danger {{classes}}">
            <td>{{label}}</td>
            <td>{{freq}}</td>
          </tr>
          {% else %}
          <tr class="neutral {{classes}}">
            <td>{{label}}</td>
            <td>{{freq}}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
    <div class="col">
      <table class="table table-condensed table-hover table-responsive">
        <th>Unclassified</th>
        <th>Freq (min)</th>
        {% for label,freq,classes in hourlyData[4] %}
        <tr class="{{classes}}">
            <td>{{label}}</td>
            <td>{{freq}}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <script>
  var ctx = document.getElementById("hourDoughnut");
  var hourDoughnut = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ["Away", "Low", "High"],
      datasets: [{
          data: [{{minutes[2]}}, {{minutes[1]}}, {{minutes[0]}}],
          backgroundColor: [
            'rgb(255, 205, 86)',
            'rgb(54, 162, 235)',
            'rgb(26, 216, 69)'
          ],
          borderColor: [
            'rgba(255, 206, 86, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(26, 216, 69, 1)'
          ],
          borderWidth: 1
      }]
    },
    options: {
      title: {
        display: true,
        text: "Activity Distribution (min)"
      }
    }
  });
  var hide_away = false
  var hide_low = false
  var hide_high = false
  $("#hourDoughnut").click(function(evt){
    var activePoints = hourDoughnut.getElementsAtEvent(evt);
    var clickedIndex = activePoints[0]["_index"];
    var label = hourDoughnut.data.labels[clickedIndex];
    if (label == "Away"){
      hide_low = false
      hide_high = false
      if (!hide_away){
        $('.Low').hide();
        $('.High').hide();
        $('.Away').show();
        hide_away = true
      } else {
        $('.Away').show();
        $('.Low').show();
        $('.High').show();
        hide_away = false
      }
    }
    if (label == "Low"){
      hide_away = false
      hide_high = false
      if (!hide_low){
        $('.Away').hide();
        $('.High').hide();
        $('.Low').show();
        hide_low = true
      } else {
        $('.Away').show();
        $('.Low').show();
        $('.High').show();
        hide_low = false
      }
    }
    if (label == "High"){
      hide_away = false
      hide_low = false
      if (!hide_high){
        $('.Away').hide();
        $('.Low').hide();
        $('.High').show();
        hide_high = true
      } else {
        $('.Away').show();
        $('.Low').show();
        $('.High').show();
        hide_high = false
      }
    }
  });
  </script>
  <script>
  var ctx = document.getElementById("productivityGauge");
  var programBar = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: ["Distracted", "Productive", "Neutral"],
    datasets: [{
      data: {{hourlyData[0]}},
      backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(26, 216, 69)',
        'rgb(220,220,220)'
      ],
      borderColor: [
        'rgb(255,99,132)',
        'rgb(26, 216, 69)',
        'rgb(220,220,220)'
      ],
      borderWidth: 1
    }]
    },
    options: {
        title: {
          display: true,
          text: "Productivity Gauge (min)"
        },
        rotation: 1 * Math.PI,
        circumference: 1 * Math.PI
    }
  });
  var hide_productive = false;
  var hide_distracted = false;
  var hide_neutral = false;
  $("#productivityGauge").click(function(evt){
    var activePoints = programBar.getElementsAtEvent(evt);
    var clickedIndex = activePoints[0]["_index"];
    var label = programBar.data.labels[clickedIndex];
    if (label == "Productive"){
      hide_distracted = false
      hide_neutral = false
      if (!hide_productive){
        $('.neutral').hide();
        $('.table-danger').hide();
        $('.table-success').show();
        hide_productive = true
      } else {
        $('.neutral').show();
        $('.table-danger').show();
        $('.table-success').show();
        hide_productive = false
      }
    }
    if (label == "Distracted"){
      hide_neutral = false
      hide_productive = false
      if (!hide_distracted){
        $('.neutral').hide();
        $('.table-success').hide();
        $('.table-danger').show();
        hide_distracted = true
      } else {
        $('.neutral').show();
        $('.table-danger').show();
        $('.table-success').show();
        hide_distracted = false
      }
    }
    if (label == "Neutral"){
      hide_distracted = false
      hide_productive = false
      if (!hide_neutral){
        $('.table-danger').hide();
        $('.table-success').hide();
        $('.neutral').show();
        hide_neutral = true
      } else {
        $('.neutral').show();
        $('.table-danger').show();
        $('.table-success').show();
        hide_neutral = false
      }
    }
  });
  </script>
  <script>
  var ctx = document.getElementById("webProgPie");
  var webProgPie = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["Websites", "Programs"],
      datasets: [{
        data: {{hourlyData[1]}},
        backgroundColor: [
          'rgb(54, 162, 235)',
          'rgb(255, 99, 132)'
        ],
        borderColor: [
          'rgba(54, 162, 235, 1)',
          'rgba(255, 99, 132, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      title: {
        display: true,
        text: "Website to Program Ratio"
      }
    }
  });
  </script>
{% endif %}
{% endif %}
{% endblock %}
