{% extends "base.html" %}

{% block content %}
<p>{{month}}</p>

<div class="row">
  <div class="col">
    <div class="chart-container">
      <canvas id="line-chart"></canvas>
    </div>
  </div>
</div>

<script>
var ctx = $("#line-chart");
var lineChart = new Chart(ctx, {
  type: 'line',
  data: {
    {% autoescape false %}
    labels: {{labels}},
    {% endautoescape %}
    datasets: [
      {
        {% autoescape false %}
        label: {{label}},
        {% endautoescape %}
        data: {{lineChart}},
        backgroundColor: ['#9ad0f5'],
        borderColor: ['#9ad0f5']
      }
    ]
  },
  options: {
    elements: {
      line: {
        tension: 0 //Disables bezier curves
      }
    },
    title: {
      display: true,
      text: "Monthly Activity"
    },
    scales: {
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: "Days of the Month"
        }
      }],
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: "Relative Productivity Hours"
        }
      }]
    }
  }
});
</script>

{% endblock %}
