{% extends "base.html" %}

{% block content %}
<p>Week {{week}} {{year}}</p>

<div class="justify-content-center">
  <div class="row">
    {% for day,link,active in activity %}
      {% if active == "HIGH" %}
      <div class="col bg-success">
      {% elif active == "AWAY" %}
      <div class="col bg-warning">
      {% elif active == "LOW" %}
      <div class="col bg-info">
      {% elif active == "DISTRACTED" %}
      <div class="col bg-danger">
      {% else %}
      <div class="col bg-dark text-white">
      {% endif %}
      {% if active %}
        <a href="/day/{{link}}">{{day}}</a>
      {% else %}
        <span>{{day}}</span>
      {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="chart-container">
      <canvas id="stackedBar"></canvas>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="chart-container">
      <canvas id="progPie"></canvas>
    </div>
  </div>
  <div class="col">
    <div class="chart-container">
      <canvas id="webPie"></canvas>
    </div>
  </div>
</div>

<script>
  var ctx = document.getElementById("stackedBar");
  var activityBar = new Chart(ctx, {
    type: 'bar',
    data: {
      {% autoescape false %}
      labels: {{labels}},
      {% endautoescape %}
      datasets: [{
        type: 'bar',
        label: 'Away',
        backgroundColor: 'rgb(255, 205, 86)',
        data: {{barGraph[0]}},
        stack: 1
      }, {
        type: 'bar',
        label: 'Low',
        backgroundColor: 'rgb(54, 162, 235)',
        data: {{barGraph[1]}},
        stack: 1
      }, {
        type: 'bar',
        label: 'High',
        backgroundColor: 'rgb(26, 216, 69)',
        data: {{barGraph[2]}},
        stack: 1
      }, {
        type: 'bar',
        label: "Distracted",
        backgroundColor: "rgba(255,99,132,0.7)",
        data: {{barGraph[3]}},
        stack: 2
      }, {
        type: 'bar',
        label: "Productive",
        backgroundColor: 'rgba(26, 216, 69,0.7)',
        data: {{barGraph[4]}},
        stack: 2
      }, {
        type: 'bar',
        label: "Neutral",
        backgroundColor: "rgba(220,220,220,0.7)",
        data: {{barGraph[5]}},
        stack: 2
      }]
    },
    options: {
      title: {
        display: true,
        text: "Daily Activity"
      },
      scales: {
        xAxes: [{
          stacked: true,
          scaleLabel: {
            display: true,
            labelString: "Days of the Week"
          }
        }],
        yAxes: [{
          stacked: true,
          scaleLabel: {
            display: true,
            labelString: "Hours"
          }
        }]
      }
    }
  });
</script>

<script>
  var ctx = document.getElementById("progPie");
  var progPie = new Chart(ctx, {
    type: 'pie',
    data: {
      {% autoescape false %}
      labels: {{top_names[0]}},
      {% endautoescape %}
      datasets: [{
        data: {{top_data[0]}},
        backgroundColor: [
          '#ffb0c1',
          '#ffcf9f',
          '#ffe6aa',
          '#a4dfdf',
          '#9ad0f5'
        ],
        borderWidth: 1
      }]
    },
    options: {
      title: {
        display: true,
        text: "Top Programs"
      }
    }
  });
  var ctx = document.getElementById("webPie");
  var webPie = new Chart(ctx, {
    type: 'pie',
    data: {
      {% autoescape false %}
      labels: {{top_names[1]}},
      {% endautoescape %}
      datasets: [{
        data: {{top_data[1]}},
        backgroundColor: [
          '#ffb0c1',
          '#ffcf9f',
          '#ffe6aa',
          '#a4dfdf',
          '#9ad0f5'
        ],
        borderWidth: 1
      }]
    },
    options: {
      title: {
        display: true,
        text: "Top Websites"
      }
    }
  });
</script>

{% endblock %}

